<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>CAT(喵～)</title>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
        <script src="../static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css" />
	</head>
<body>
    <div class="row w700">
        <div class="thumbnail w1700" >
          <div class="caption">
            <h3>BuiltIn</h3>
            <p>主要提供处理验证，转换类关键字，可以直接使用</p>
            <p><a href="../static/library/BuiltIn.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>Collections</h3>
            <p>提供用于操作Python列表和字典的关键字，无需import</p>
            <p><a href="../static/library/Collections.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>DatabaseLibrary</h3>
            <p>提供用于操作数据库的关键字,读写操作等</p>
            <p><a href="../static/library/DatabaseLibrary.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>Dialogs</h3>
            <p>提供在测试中获取用户输入的一些关键字，可以直接使用</p>
            <p><a href="../static/library/Dialogs.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>OperatingSystem</h3>
            <p>提供操作系统执行相关任务的关键字,无需import,可以直接使用</p>
            <p><a href="../static/library/OperatingSystem.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>Process</h3>
            <p>提供多线程支持的关键字，需要自己导入</p>
            <p><a href="../static/library/Process.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>Screenshot</h3>
            <p>提供桌面截图相关的关键字,无需import,可以直接使用</p>
            <p><a href="../static/library/Screenshot.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>Selenium2Library</h3>
            <p>封装了Webdriver的关键字，用于Web UI测试，需要自己导入</p>
            <p><a href="../static/library/Selenium2Library.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>SSHLibrary</h3>
            <p>提供基于SOAP的web service测试的关键字，需要自己导入</p>
            <p><a href="../static/library/SSHLibrary.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>String</h3>
            <p>提供字符串修改及验证的关键字,无需import,可以直接使用</p>
            <p><a href="../static/library/String.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>Telnet</h3>
            <p>提供连接远程telnet服务器,无需import,可以直接使用</p>
            <p><a href="../static/library/Telnet.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
        <div class="thumbnail w1700">
          <div class="caption">
            <h3>XML</h3>
            <p>提供XML修改及验证的关键字，需要自己导入</p>
            <p><a href="../static/library/XML.html" target="_blank" class="btn btn-primary" role="button">查看详情</a></p>
          </div>
        </div>
      </div>
</body>
</html>

